<%= form_with(model: [@news, Comment.new], url: news_comments_path(@news)) do |form| %>
  <%= form.text_area :content, placeholder: "Escribe tu comentario...", class: "form-control" %>
  <%= form.submit "Comentar", class: "btn btn-primary" %>
  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
