<footer class="bg-dark text-light py-4">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to 'Términos', term_path, class: 'text-light' %></li>
      <li class="list-inline-item"><%= link_to 'Política de privacidad', privacy_path, class: 'text-light' %></li>
      <li class="list-inline-item"><%= link_to 'Derechos de autor', copyright_path, class: 'text-light' %></li>
    </ul>
    <p>&copy; <%= Time.now.year %> Portal Noticias. Todos los derechos reservados.</p>
  </div>
</footer>
