<nav>
  <ul>
    <li><%= link_to 'Inicio', home_path %></li>
    <li><%= link_to 'Términos', term_path %></li>
    <li><%= link_to 'Política de privacidad', privacy_path %></li>
    <li><%= link_to 'Derechos de autor', copyright_path %></li>
  </ul>
</nav>
